<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
  <form
    class="backdrop-blur-sm bg-white/30 p-5 w-[500px] flex flex-col items-center rounded-lg relative"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <div class="mb-7">
      <h1 class="text-2xl font-semibold text-white">New account !</h1>
    </div>
    <div class="card flex flex-col gap-8">
      <p-floatLabel>
        <input pInputText id="email" formControlName="email" />
        <label for="email">Email</label>
      </p-floatLabel>
      <p-floatLabel>
        <input
          pInputText
          type="password"
          id="password"
          formControlName="password"
        />
        <label for="password">Password</label>
      </p-floatLabel>
    </div>
    <div class="mt-8 w-full flex justify-around">
      <button
        class="login login-email relative text-white px-5 py-1 font-semibold rounded-md"
        type="submit"
      >
        Create Account
      </button>
    </div>
    <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
    <div class="absolute top-5 left-5">
      <a routerLink="/login" routerLinkActive="active">
        <i class="pi pi-arrow-left text-white" style="font-size: 1.6rem"></i>
      </a>
    </div>
  </form>
</div>
